.form-group(ng-class="{'has-error': form.{{name}}.$touched && form.{{name}}.$invalid}")
  label.control-label {{label}}
  //- add addons or just the input
  input.form-control(ng-model='model', type='{{type}}', name='{{name}}', ng-required='isReq', ng-if='!addLeftAddon && !addRightAddon')
  .input-group(ng-if='addLeftAddon || addRightAddon')
    .input-group-addon(ng-if='addLeftAddon') {{leftAddon}}
    input.form-control(ng-model='model', type='{{type}}', name='{{name}}', ng-required='isReq')
    .input-group-addon(ng-if='addRightAddon') {{rightAddon}}