//- home view
.container-fluid.box
  .secondary
    //- showing the view model data
    h1.h3.center-text Test
    pre.test Form data:
    pre.test(ng-repeat='field in vm.form') {{field | json}}
  .main-col
    .box.steps-bar(ng-hide='vm.show()')
      button.btn(ui-sref-active='btn-success', ui-sref='form.stepone') step one 
      button.btn(ui-sref-active='btn-success', ui-sref='form.steptwo') step two
      button.btn(ui-sref-active='btn-success', ui-sref='form.stepthree') step three 
    .steps-bar(ng-show='vm.show()')
      .button.btn.btn-warning(ui-sref='form.stepone') Fill form   
        i.glyphicon.glyphicon-arrow-right
    ui-view
  .secondary
include ../includes/modal