
<form name="stepOne" novalidate="novalidate" class="form">
  <alert ng-repeat="alert in vm.activeAlerts" type="{{alert.type}}" close="vm.dismissAlert($index)">{{alert.msg}}</alert>
  <div ng-class="{'has-error': stepOne.name.$touched &amp;&amp; stepOne.name.$invalid}" class="form-group has-feedback">
    <label class="control-label">Name</label>
    <div class="input-group">
      <div class="input-group-addon">Sr.</div>
      <input ng-model="vm.form.name" type="text" name="name" ng-pattern="/^[a-zA-Z]{1,25}$/" required="required" class="form-control"/>
    </div>
  </div>
  <div ng-class="{'has-error': stepOne.lastName.$touched &amp;&amp; stepOne.lastName.$invalid}" class="form-group has-feedback">
    <label class="control-label">Last Name</label>
    <input ng-model="vm.form.lastName" type="text" name="lastName" ng-pattern="/^[a-zA-Z]{1,25}$/" required="required" class="form-control"/>
  </div>
  <div ng-class="{'has-error': stepOne.mail.$touched &amp;&amp; stepOne.mail.$invalid}" class="form-group">
    <label class="control-label">Mail {{stepOne.mail.$touched && stepOne.mail.$invalid}}</label>
    <input ng-model="vm.form.mail" type="email" name="mail" tooltip-template="'app/views/templates/errorMessages/mail.html'" tooltip-class="tooltip-bg" tooltip-placement="right" tooltip-trigger="tooltipActivate" data-trigger-tooltip="stepOne.mail.$touched &amp;&amp; stepOne.mail.$invalid" required="required" class="form-control"/>
  </div>
  <div ng-class="{'has-error': stepOne.userName.$touched &amp;&amp; stepOne.userName.$invalid,'has-success': stepOne.userName.$touched &amp;&amp; stepOne.userName.$valid}" class="form-group has-feedback">
    <label class="control-label">username</label>
    <input ng-model="vm.form.userName" type="text" name="userName" username="username" required="required" class="form-control"/><span ng-show="stepOne.userName.$error.username" class="glyphicon glyphicon-remove form-control-feedback"></span><span ng-show="stepOne.userName.$pending.username" class="glyphicon glyphicon-refresh spin form-control-feedback"></span><span ng-show="stepOne.userName.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span><span class="help-block">some help text here just for the shows</span>
  </div>
  <div ng-class="{'has-error': stepOne.pass.$touched &amp;&amp; stepOne.pass.$invalid , 'has-success': stepOne.pass.$touched &amp;&amp; stepOne.pass.$valid}" class="form-group has-feedback">
    <label class="control-label">Password</label>
    <input ng-model="vm.form.pass" type="password" name="pass" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&amp;'])[^ ]{5,16}$/" required="required" ng-focus="vm.newAlert(vm.alerts.pass)" class="form-control"/><span ng-show="stepOne.pass.$touched &amp;&amp; stepOne.pass.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span><span ng-show="stepOne.pass.$valid &amp;&amp; stepOne.pass.$touched" class="glyphicon glyphicon-ok form-control-feedback"></span>
  </div>
  <div class="form-group">
    <button ng-disabled="stepOne.$invalid" ui-sref="form.steptwo" class="pull-right btn btn-primary">Next</button>
  </div>
</form>