
<form name="stepTwo" ng-submit="vm.nextStep(stepTwo.$valid, 2)" novalidate="novalidate" class="form">
  <alert ng-repeat="alert in vm.activeAlerts" type="{{alert.type}}" close="vm.dismissAlert($index)">{{alert.msg}}</alert>
  <div ng-class="{'has-error': stepTwo.date.$touched &amp;&amp; stepTwo.date.$invalid}" class="form-group">
    <label class="control-label">Birthdate</label>
    <input ng-model="vm.form.date" name="date" type="date" datepicker-popup="datepicker-popup" is-open="date.opened" min-date="date.min" max-date="date.max" date-disabled="disabled(date, mode)" close-text="Close" required="required" class="form-control"/>
  </div>
  <data-text-field f-model="vm.form.adress" f-label="Street" f-name="adress" f-required="f-required"></data-text-field>
  <data-text-field f-model="vm.form.city" f-label="City" f-name="city" f-required="f-required"></data-text-field>
  <data-text-field f-model="vm.form.zip" f-label="ZIP Code" f-name="zip" f-required="f-required"></data-text-field>
  <div class="form-group">
    <label class="control-label">State</label>
    <select ng-init="vm.form.state = vm.states[0]" ng-model="vm.form.state" ng-options="state for state in vm.states" required="required" class="form-control"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Multi State</label>
    <select multiple="multiple" ng-model="vm.form.stateMulti" ng-options="state for state in vm.states" required="required" class="form-control"></select><span class="help-block">select multiple options by pressing ctrl</span>
  </div>
  <div class="form-group">
    <button ng-disabled="stepTwo.$invalid" ui-sref="form.stepthree" class="pull-right btn btn-primary">Next</button>
  </div>
</form>