
<form name="stepOne" novalidate="novalidate" class="form">
  <alert ng-repeat="alert in vm.activeAlerts" type="{{alert.type}}" close="vm.dismissAlert($index)">{{alert.msg}}</alert>
  <data-text-field f-model="vm.form.name" f-label="none" f-name="name" f-pattern="^[a-zA-Z]{1,25}$" f-left-addon="Sr." f-required="f-required"></data-text-field>
  <data-text-field f-model="vm.form.lastName" f-label="Last Name" f-name="lastName" f-pattern="^[a-zA-Z]{1,25}$" f-required="f-required"></data-text-field>
  <div ng-class="{'has-error': stepOne.mail.$touched &amp;&amp; stepOne.mail.$invalid}" class="form-group">
    <label class="control-label">Mail</label>
    <input ng-model="vm.form.mail" type="email" name="mail" tooltip-template="'app/views/templates/errorMessages/mail.html'" tooltip-class="tooltip-bg" tooltip-placement="right" tooltip-trigger="tooltipActivate" data-trigger-tooltip="stepOne.mail.$touched &amp;&amp; stepOne.mail.$invalid" required="required" class="form-control"/>
  </div>
  <div ng-class="{'has-error': stepOne.userName.$invalid &amp;&amp; stepOne.userName.$dirty,'has-success': stepOne.userName.$valid}" class="form-group has-feedback">
    <label class="control-label">username</label>
    <input ng-model="vm.form.userName" type="text" name="userName" username="username" required="required" class="form-control"/><span ng-show="stepOne.userName.$error.username" class="glyphicon glyphicon-remove form-control-feedback"></span><span ng-show="stepOne.userName.$pending.username" class="glyphicon glyphicon-refresh spin form-control-feedback"></span><span ng-show="stepOne.userName.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span><span class="help-block">some help text here just for the shows, try with: 'Pablo', 'Lucas', 'Matias', 'asdf'.</span>
  </div>
  <div ng-class="{'has-error': stepOne.pass.$touched &amp;&amp; stepOne.pass.$invalid , 'has-success': stepOne.pass.$touched &amp;&amp; stepOne.pass.$valid}" class="form-group has-feedback">
    <label class="control-label">Password</label>
    <input ng-model="vm.form.pass" type="password" name="pass" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&amp;'])[^ ]{5,16}$/" required="required" ng-focus="vm.newAlert(vm.alerts.pass)" class="form-control"/><span ng-show="stepOne.pass.$touched &amp;&amp; stepOne.pass.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span><span ng-show="stepOne.pass.$valid &amp;&amp; stepOne.pass.$touched" class="glyphicon glyphicon-ok form-control-feedback"></span>
  </div>
  <div class="form-group">
    <button ng-disabled="stepOne.$invalid" ui-sref="form.steptwo" class="pull-right btn btn-primary">Next</button>
  </div>
</form>