.box {
	display: flex;
	justify-content: space-between;
}

.secondary {
	bgc: $secondary-font;
	@mixin wh 30%, 100vh;
}

.main-col {
	bgc: $pastel-shadow;
	width: 40%;
	margin-bottom: 30px;
}

.test {
	margin: 10px auto;
	width: 90%;
}